<%- include('header'); %>

<body>
  <div class="box" id="heading">
    <h1><%= currentDay %></h1>
  </div>

  <div class="box-wide">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nobis officia id, repellat eius a omnis
      accusantium tempora, ratione pariatur aperiam! Enim, sed consectetur? Eos, vitae deleniti exercitationem ad
      eligendi maxime minus ipsum doloribus facere voluptatem commodi sint, ullam voluptas facilis mollitia nisi fuga
      similique ratione libero eaque dolores ab quo saepe dolorum! At quas ea, fugiat odit, error delectus nostrum
      cupiditate, amet velit eligendi hic quo id? Sapiente qui, odio provident molestiae ratione beatae inventore atque
      natus ab magnam iure debitis dolores tempora expedita! Magni assumenda aliquid error beatae veritatis dicta
      praesentium, repellendus fugiat aperiam voluptatem atque temporibus? A!</p>
  </div>
</body>

<%- include('footer'); %>