// Colors

// Primary

$cyan: hsl(179, 62%, 43%);
$cyan-blue: hsl(179, 46%, 53%);
$yellow: hsl(71, 73%, 44%);
$bright-yellow: hsl(71, 73%, 54%);
$ivory: hsl(60, 100%, 97%);
$light-ivory: rgba(255, 255, 239, .5);

// Neutral

$gray: rgba(0, 0, 0, .8);
$light-gray: hsl(204, 43%, 93%);
$blue: hsl(228, 45%, 44%);
