.footer {
  background: var(--dark-cyan);
  padding: 200px 60px 70px;
  color: var(--white);

  &__contacts > * {
    display: grid;
    grid-template-columns: 5% auto;
    grid-gap: 20px;
    align-items: center;
  }

  &__contacts svg {
    width: 20px;
    height: 20px;
  }

  &__logo {
    filter: invert(100%) grayscale(100%);
    margin-bottom: 30px;
    padding-left: 0;
    display: inline-block;

    &:hover {
      filter: invert(100%) grayscale(100%) brightness(60%);
    }
  }

  &__address,
  &__phone {
    margin-bottom: 30px;
  }

  &__email {
    margin-bottom: 60px;
  }

  &__nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 2;
    }
  }

  &__socials {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    ion-icon {
      font-size: 30px;
      border: 2px solid var(--white);
      border-radius: 50%;
      padding: 5px;
      margin-right: 10px;

      &:hover {
        filter: brightness(60%);
      }
    }
  }

  &__copyright,
  &__attribution {
    text-align: center;
  }

  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--white);

    &:hover {
      color: var(--blue);
    }
  }

  &__attribution {
    font-size: 0.6rem;

    a {
      text-decoration: underline;
    }
  }
}
