body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 8%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.navitem {
  padding: 0 5%;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Buttons */

.download-button {
  margin: 5% 3% 0 0;
}

/* Title Section */

#title {
  background: #ff4c68;
  color: whitesmoke;
}

.title-text {
  text-align: left;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 28%;
}

@media (max-width: 1200px) {
  .title-image {
    transform: rotate(0);
    position: static;
    margin-top: 10%;
  }

  .title-text {
    text-align: center;
  }
}

/* Features Section */

#features {
  background: whitesmoke;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 7%;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */

#testimonials {
  background-color: #ef8172;
  color: whitesmoke;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 3%;
}

/* Press section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 0 1% 2%;
}

/* Pricing Section */

#pricing {
  padding: 5%;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to action Section */

#cta {
  background: #ff4c68;
}

.cta-header {
  font-weight: 900;
  color: whitesmoke;
  font-size: 3rem;
  margin-bottom: 3%;
}

/* Footer Section */

#footer i {
  margin: 0 1% 3% 1%;
}
