<%- include('header'); %>

<div class="box" id="heading">
  <h1>About Page</h1>
</div>
<div class="wide-box">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo sequi fugit voluptatibus dolor suscipit
    similique sed quaerat ipsa ad consequuntur, autem odit totam, dicta facilis quod nisi facere rerum reprehenderit?
    Earum, quod similique eos, quaerat reiciendis repellendus a soluta aut voluptatibus labore exercitationem. Est optio
    ullam qui at voluptate? Nesciunt fuga aperiam qui voluptates eum nostrum quod eius expedita illum? Ad dignissimos
    exercitationem a fuga cumque, deleniti fugiat eos dicta? Non, a totam saepe amet architecto reiciendis? Sapiente
    quam, impedit deserunt enim magnam recusandae consequatur repudiandae consequuntur aperiam repellendus adipisci,
    placeat, similique laudantium quaerat beatae saepe fuga dignissimos facere nobis.</p>
</div>

<%- include('footer'); %>