<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container text-center">
	<h1>Password generator</h1>
	<form action="{% url 'password' %}">
		<select name="length">
			<option value="6">6</option>
			<option value="4">4</option>
			<option value="8" selected="selected">8</option>
			<option value="10">10</option>
			<option value="12">12</option>
		</select> Length
		<br>
		<input type="checkbox" name="uppercase"> Uppercase
		<br>
		<input type="checkbox" name="numbers"> Numbers
		<br>
		<input type="checkbox" name="special"> Specials chars
		<br>
		<input type="submit" value="Generate" class="btn btn-primary">
	</form>
	<a href="{% url 'description' %}">Description</a>
</div>
