.container {
	text-align: center;
}

#top-center,
#middle-left,
#middle-center,
#middle-right,
#bottom-center {
	display: inline-block;
	width: 100px;
	height: 100px;
}

#top-center,
#bottom-center,
#middle-center {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#middle-left,
#middle-right,
#middle-center {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
