:root {
  // Colors
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --blue: hsl(208, 11%, 55%);
  --white: whitesmoke;
  --black: rgba(0, 0, 0, 0.9);
  --light-grey: rgba(0, 0, 0, 0.1);

  // Fonts
  --font-size: 18px;
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}
