$lightGray: #eee4da;
$lightPurple: #aea4ad;
$darkenLightPurple: darken($lightPurple, 10%);
$lightBlue: #506f8e;
$lightYellow: #d9d0cb;
$white: #fff;

$borderRadius: 20px;
$borderWidth: 10px;

$fontRibeye: 'Ribeye Marrow', cursive;
$fontDidact: 'Didact Gothic', sans-serif;

$baseWidthPx: 100;
$baseWidthPercent: 10;

$mobile-large: 768px;
